* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3aa974;
    font-family: Arial;
}

main {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    margin: 30px
}

section div {
    flex-grow: 1;
}

section:nth-of-type(1) {
    width: 60%;
    margin-right: 0px;

}
section:nth-of-type(2) {
    width: 30%;
    margin-right: 0;
}

.lg-box {
    width: 100%;
    height: 100%;
    /* max-height: 640px; */
    /* height: 600px; */
    background: white;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sm-box {
    width: 100%;
    height: 100%;
    /* height: 300px; */
    background: white;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 100%;
}

.tekstas {
    padding: 0 20px;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
}

h2 {
    padding-top: 20px;
}

p {
    padding: 15px 0;
    color: grey;
     /* max-height: 86px; */
    
}

.notes {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    max-height: 49px;

}

@media (max-width:1315px) {
    
    main {
        display: block;
        margin-top: 60px;
    }

    section:nth-of-type(1) {
        width: 80%;
        margin: auto;

    }
    section:nth-of-type(2) {
        width: 80%;
        margin: auto;
    }
    
    }
